//Settings.js is not part of the repository.  However, it should be deployed with the application and contain deployment-specific settings.
//there is a settings.js.example file that should match the structure and properties of this file that IS checked in to the repo.
var settings = {}

settings.pg = {};
settings.geonames = {};
settings.loggly = {};
settings.application = {};

//application port settings
settings.application.port = 80;

//Settings for postgres DB
settings.pg.username = 'postgres';
settings.pg.password = 'RedCrossOwner!';
settings.pg.server = '54.213.93.178';
settings.pg.port = '5432';
settings.pg.database = 'Staging';

//settings for geonames API
settings.geonames.username = 'apollolm';

//settings for loggly - cloud based logging service
settings.loggly.subdomain = 'spatialdev';
settings.loggly.username = 'apollolm';
settings.loggly.password = 'alsep111';
settings.loggly.logglyKey = "7b9bd8e8-40ce-4135-af04-c05d715d2117";

//settings for http proxy - which domains to allow
settings.proxyOptions = {
    allowedDomains: [
        'force.com',
		'salesforce.com'
    ]
};

module.exports = settings;